.logo {
    display: block;
    margin: auto;
    width: 200px;
    height: 150px;
}

.container {
    max-width: 955px;
    margin: auto;
    height: 70vh;
}

.message {
 width: 24%;
 padding: 10px;
 margin: 17px 12px;
 border: 2px solid black;
 border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}